<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UFF-8">
<title>WeatherApp</title>

<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>

<div align="center">
<h1> Weather in your City </h1>
<span class="title">{{city_weather.city}}</span>

<br>
<div class"media-content">
<div class="content">
<p>
<div
  {% comment %} style="background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.jpg');" {% endcomment %}
</div>
<h2>HTML Image</h2>
<img src="weather\templates\Picture\maxwell-nelson-KXkgOigCqj0-unsplash.jpg">

<span class="subtitle">{{city_weather.temperature}}° F</span>
<br>{{city_weather.description}}
{% comment %} <span class="subtitle">{{city_weather.temperature}}° F</span>
<br>{{city_weather.description}} {% endcomment %}
<form action="" method="get">
<input type="text" id="city" name="city" placeholder="Enter city">
<input type="submit" name ="send" value="Search"

<div align="center">
<h1> Weather in other City </h1>

<span class="title">{{city_weather1.city}}</span>
<span class="subtitle">{{city_weather1.temperature}}° F</span>
<br>{{city_weather1.description}}

<div align="center">
<h1> Weather in Your  State </h1>
<span class="title">{{city_weather2.city}}</span>
<span class="subtitle">{{city_weather2.temperature}}° F</span>
<br>{{city_weather2.description}}



</p>
<div
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.jpg');"
</div>

</div>
</div>

</form>
</div>
</body>
</html>


